.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4%;
    align-items: center;
    gap: 20px;

}
.logo-img{
width: 100px;
height: auto;
}
.ham{
    width: auto;
    height: 30px;
}
hr{
    border: 1px solid #3D3D3D;
    
}
.searchbox {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1%;
    background-color: #D7D7D8;
    ;
    
    
  }

  .search-inbox input{
    border: none;
    outline: none;
    background-color: #D7D7D8;
    
   
  }
  .sidebar-heading{
   display: flex;
   align-items: center;
   gap: 5px;
   margin-top: 30px;
  }
  .sidebar-heading img{
    width: 25px;
    height: 25px;
  } 
  .sidebar-heading:hover{
    cursor: pointer;
  }
 
 